@font-face{
  font-family:Inter-Regular;
  src:url(fonts/Inter-Regular.ttf);}

/* удаление лишней окантовки и эффекта нажатия */
*,
*:after,
*:before{
  -webkit-tap-highlight-color:rgba(0,0,0,0)!important;
  -webkit-tap-highlight-color:transparent!important;
  box-sizing:border-box!important;
  outline:none!important;}

/* удаление лишнего пространства у кнопок и полей для ввода в firefox */
button::-moz-focus-inner,
input::-moz-focus-inner{
  padding:0!important;
  border:0!important;}

/* выделение текста */
::selection{background-color:rgba(255,255,255,0.1);}

.disableSelection{
  -webkit-user-select:none;
  user-select:none;}

/* полоса прокрутки */
::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background-color:transparent;}
::-webkit-scrollbar-thumb{
  border-radius:5px;
  background-color:rgb(75,75,75);}

/* формы */
input,
select,
textarea{
  font-family:Inter-Regular,Arial,sans-serif;
  font-size:85%;
  color:rgb(220,220,220);
  text-transform:none;}

/* удаление пространства под textarea */
textarea{vertical-align:top;}

input[type="hidden"]{display:none;}

/*** видео ***/
video{
  max-width:100%;
  display:inline-block;
  vertical-align:baseline;}

/*** общие настройки ***/
html,body{
  position:relative;
  margin:0;
  padding:0;
  height:100%;
  overflow:hidden;}

body{
  color:rgb(220,220,220);
  font-family:Inter-Regular,Arial,sans-serif;
	font-size:16px;
  background-color:rgb(18,18,18);}

/*** приложение ***/
#app{
  position:relative;
  width:100%;}

header{
  border-bottom:1px solid rgb(25,25,25);
  height:60px;
  width:100%;
  background-color:rgb(35,35,35);}

main{
  position:relative;
  display:flex;}

/*** панели ***/
.panel{
  -webkit-user-select:none;
  user-select:none;
  height:calc(100vh - 60px);
  background-color:rgb(25,25,25);}

.panel.animated{transition:width 0.2s,min-width 0.2s;}

.panelHeader,
.panelFooter{
  width:100%;
  background-color:rgb(32,32,32);}

.panelBody{
  padding-left:5px;
  padding-right:5px;
  position:relative;
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
  display:flex;
  flex-direction:column;
  flex-grow:1;}

.panelToggle{
  animation-name:fadeIn;
  animation-duration:0.05s;
  position:absolute;
  width:30px;
  height:30px;
  top:10px;
  cursor:pointer;
  border-radius:5px;
  overflow:hidden;
  background-color:rgb(35,35,35);
  transition:background-color 0.2s;}

@media (hover: hover){
  .panelToggle:hover{
    background-color:rgb(40,40,40);}
}

.panelToggle svg{
  stroke-width:1.5!important;
  stroke:rgb(200,200,200);}

/*** кнопки ***/
.button{
  position:relative;
  display:inline-flex;
  border-radius:5px;
  border:0;
  white-space:nowrap;
  cursor:pointer;
  background-color:rgb(40,40,40);
  transition:background-color 0.2s;}

@media (hover: hover){
  .button:hover{background-color:rgb(50,50,50);}
}

.button:active{background-color:rgb(60,60,60);}

.buttonIcon{
  position:relative;
  height:inherit;
  width:inherit;}

.buttonIcon svg{
  pointer-events:none;
  width:20px;
  height:20px;
  position:absolute;
  display:block;
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0) rotate(0deg);
  stroke:rgb(200,200,200);
  fill:none;}

.buttonText{
  color:rgb(175,175,175);
  flex-grow:1;
  transition:color 0.2s;}

/*** svg ***/
#svg{display:none;}

svg{
  stroke-linecap:butt;
  stroke-linejoin:miter;}

/*** анимации ***/
@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}

@keyframes fadeOut{
  0%{opacity:1;}
  100%{opacity:0;}
}
