@font-face{
  font-family:Inter-Regular;
  src:url(fonts/Inter-Regular.ttf);}

/* tap-highlight - remove android webkit tap highlight */
button,
a:hover,
a:active,
a:focus{
  outline:none!important;
	-webkit-tap-highlight-color:rgba(0,0,0,0)!important;
	-webkit-tap-highlight-color:transparent!important;}

/* remove highlight */
button:focus,
input:focus,
select:focus,
textarea:focus{outline:none!important;}

/* mozilla form fields padding fix */
button::-moz-focus-inner,
input::-moz-focus-inner{
  padding:0!important;
  border:0!important;}

/* text selection */
::selection{background-color:rgba(0,0,0,.1);}

/* scrollbar */
::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background-color:transparent;}
::-webkit-scrollbar-thumb{
  border-radius:5px;
  background-color:rgba(75,75,75,1);}

/* forms */
input,
select,
textarea{
  font-family:Inter-Regular,Arial,sans-serif;
  font-size:90%;
  color:rgb(240,240,240);
	text-transform:none;
	box-sizing:border-box;}

input[type="hidden"]{display:none;}

textarea{
  background-color:transparent;
  overflow-wrap:break-word;
  overflow-x:hidden;
  overflow-y:auto;
  scrollbar-gutter:stable both-edges;
  resize:none;
  cursor:auto;
  padding:10px 6px;
  width:100%;
  border:1px solid #4a4a4a;
  border-radius:5px;}

textarea::-webkit-scrollbar-thumb{
  background-color:rgb(115,115,115);}

/* text */
h1{font-size:135%;}
h2{font-size:125%;}
h3{font-size:115%;}
h4{font-size:110%;}
h5{font-size:105%;}
h6{font-size:100%;}

/* video, embed, iframe, object */
video{
	display:inline-block;
	vertical-align:baseline;}

video,
embed,
iframe,
object{max-width:100%;}

/*** html ***/
html,body{
  position:relative;
  margin:0;
  padding:0;
  height:100%;
  overflow:hidden;}

body{
  color:rgb(240,240,240);
  font-family:Inter-Regular,Arial,sans-serif;
	font-size:16px;
  background-color:rgb(18,18,18);}

/*** app ***/
#app{
  box-sizing:border-box;
  position:relative;
  width:100%;}

header{
  box-sizing:border-box;
  height:60px;
  width:100%;
  background-color:rgb(30,30,30);}

main{
  position:relative;
  display:flex;}

/*** panel ***/
.panel{
  box-sizing:border-box;
  height:calc(100vh - 60px);
  background-color:rgb(25,25,25);}

.panel.animated{transition:width 0.2s,min-width 0.2s;}

.panelToggle{
  animation-name:fadeIn;
  animation-duration:0.05s;
  box-sizing:border-box;
  position:absolute;
  width:30px;
  height:30px;
  top:10px;
  cursor:pointer;
  border-radius:5px;
  overflow:hidden;
  background-color:rgb(35,35,35);
  transition:background-color 0.2s;}

@media (hover: hover){
  .panelToggle:hover{
    background-color:rgb(40,40,40);}
}

.panelToggle svg{
  position:absolute;
  display:block;
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0) rotate(0deg);
  width:20px;
  height:20px;
  stroke-width:1.5;
  stroke:rgb(200,200,200);
  fill:none;}

/*** buttons ***/
.button{
  border-radius:5px;
  box-sizing:border-box;
  position:relative;
  display:inline-flex;
  height:40px;
  width:auto;
  border:0;
  white-space:nowrap;
  cursor:pointer;
  color:rgb(150,150,150);
  background-color:rgba(255,255,255,.06);
  transition:background-color 0.2s;}

@media (hover: hover){
  .button:hover{background-color:rgba(255,255,255,.04);}
}

.buttonText{
  padding-right:15px;
  font-size:90%;
  flex-grow:1;
  line-height:40px;}

.buttonIcon{
  box-sizing:border-box;
  position:relative;
  height:inherit;
  width:44px;
  min-width:44px;
  max-width:44px;}

.buttonIcon svg{
  position:absolute;
  display:block;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(0deg);
  width:24px;
  height:24px;
  stroke-width:0.75;
  stroke:rgb(200,200,200);
  fill:none;}

svg{
  stroke-linecap:butt;
  stroke-linejoin:miter;}

/*** svg ***/
#svg{display:none;}

/*** animation ***/
@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes fadeOut{
  0%{opacity:1;}
  100%{opacity:0;}
}
