#chattingPanel{
  display:flex;
  flex-direction:column;
  z-index:2;}

#chattingPanel[data-state="closed"]{
  width:0px;
  min-width:0px;}

#chattingPanel[data-state="opened"]{
  width:300px;
  min-width:300px;}

#chattingPanel[data-state="closed"] .panelToggle{
  right:10px;}

#chattingPanel[data-state="opened"] .panelToggle{
  right:310px;}

#chattingPanel.animated .panelToggle{transition:right 0.2s;}

#chattingPanel[data-state="closed"] .panelToggle svg{
  transform:translate3d(-50%,-50%,0) rotate(180deg);}

/* блоки панели */
.panelHeader,
.panelFooter{
  background-color:rgb(32,32,32);}

.panelHeader{
  box-sizing:border-box;
  width:100%;}

.panelBody{
  padding-left:5px;
  padding-right:5px;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  display:flex;
  flex-direction:column;
  flex-grow:1;}

.panelFooter{
  box-sizing:border-box;
  width:100%;}

.chattingTextarea{
  padding:10px 10px 0 10px;
}

.chattingSystem{
  box-sizing:border-box;
  display:flex;
  column-gap:10px;
  padding:10px;
  height:50px;}

.chattingSystem .button{
  height:30px;}

.chattingSystem .buttonText{
  font-size:90%;
  padding-right:5px;
  line-height:30px;}

.chattingButtons .button{
  width:30px;}

.chattingPoints{
  flex-grow:1;}

.chattingButtons{
  display:flex;
  column-gap:10px;}

#chattingPanel textarea{
  background-color:transparent;
  overflow-wrap:break-word;
  overflow-x:hidden;
  overflow-y:auto;
  scrollbar-gutter:stable both-edges;
  resize:none;
  border:1px solid rgb(100,100,100);
  cursor:auto;
  border-radius:5px;
  padding:10px 5px;
  width:100%;}
