/*** channels component ***/
.channelsComponent{
	position:fixed;
  display:flex;
  flex-direction:column;
	top:60px;
  bottom:0;
  left:0;
  overflow:hidden;
  background-color:rgb(25,25,25);
  -webkit-user-select:none;
  user-select:none;}

.channelsComponent.closed{width:78px;}
.channelsComponent.opened{width:290px;}

.channelsComponent > div{
  position:relative;
  padding-left:14px;
  padding-right:14px;}

.channelsHeader,
.channelsFooter{
  width:100%;
  padding-top:10px;
  padding-bottom:10px;}

.channelsFooter{
  background-color:rgb(30,30,30);}

.channelsBody{
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  display:flex;
  flex-direction:column;
  flex-grow:1;
  gap:10px;}

.channelsGroup{
  position:relative;
  display:flex;
  flex-direction:column;
  gap:10px;}

.channelsGroupList{
  position:relative;
  display:flex;
  flex-direction:column;
  gap:5px;}

.channel{
  overflow:hidden;
  cursor:pointer;
  display:flex;
  position:relative;
  border-radius:var(--corner-radius);
  padding-top:5px;
  padding-bottom:5px;
  transition:background-color 0.2s;}

.channel a{text-decoration:none!important;}

.channelsComponent.closed .channel{width:50px;}
.channelsComponent.opened .channel{width:262px;}

.channel[data-state="offline"]{
  opacity:.4;
  transition:opacity 0.2s;}

@media (hover: hover){
  .channel:hover{background-color:rgb(40,40,40);}
  .channel[data-state="offline"]:hover{opacity:1;}
}
.channel:active{background-color:rgb(50,50,50);}

.channelImage{
  position:relative;
  display:block;
  width:50px;
  min-width:50px;
  height:inherit;}

.channelImage img,
.channelImage svg{
  position:absolute;
  display:block;
  pointer-events:none;}

.channelImage img{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:40px;
  height:40px;}

.channelImage svg{
  top:0;
  right:0;
  width:16px;
  height:16px;}

.channelInfo{
  padding-left:5px;
  width:209px;
  position:relative;}

.channelBlock{display:flex;}

.channelName,
.channelTitle,
.channelCategory,
.channelStatus{
  pointer-events:none;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;}

.channelName{
  flex-grow:1;
  line-height:22px;
  font-size:85%;
  color:rgb(220,220,220);}

.channelTitle,
.channelCategory,
.channelStatus{
  line-height:18px;
  width:204px;
  flex-grow:1;
  font-size:78%;
  color:rgb(130,130,130);}

.channelTitle{display:block;}
.channelCategory{display:none;}

@media (hover: hover){
  .channel:hover .channelTitle{display:none;}
  .channel:hover .channelCategory{display:block;}}

/*** view status ***/
.channelViewers{
  margin-top:1px;
  margin-left:5px;
  padding-left:1px;
  padding-right:3px;
  pointer-events:none;
  display:inline-flex;
  border-radius:var(--corner-radius);
  height:18px;
  color:rgb(220,220,220);
  background-color:rgba(255,255,255,.08);
  transition:background-color 0.2s;}

@media (hover: hover){
.channel:hover .channelViewers{background-color:rgb(25,25,25);}}

.channelViewersIcon svg{
  width:15px;
  height:18px;}

.channelViewersNumber{
  padding-right:2px;
  line-height:18px;
  font-size:70%;}

/*** channel tip ***/
#channelTip{
  z-index:999;
  position:absolute;
  left:92px;
  border-radius:var(--corner-radius);
  border:1px solid rgb(50,50,50);
  width:258px;
  padding:0 2px;
  background-color:rgb(35,35,35);}

#channelTip .channelInfo{width:248px!important;}

#channelTip .channelTitle,
#channelTip .channelCategory,
#channelTip .channelStatus{width:248px!important;}

#channelTip .channelTitle,
#channelTip .channelCategory{display:block!important;}
#channelTip .channelCategory{color:rgb(22,167,255)!important;}
#channelTip .channel[data-state="offline"]{opacity:1!important;}

#channelTip .channelTitle{
  overflow:visible;
  white-space:wrap;
  text-overflow:clip;}

/*** channels button ***/
.buttonChannels{
  height:36px;
  line-height:36px;
  background-color:rgb(40,40,40);}

@media (hover: hover){
.buttonChannels:hover{background-color:rgb(45,45,45);}}
.buttonChannels:active{background-color:rgb(50,50,50);}

.channelsComponent.closed .buttonChannels{width:50px;}
.channelsComponent.opened .buttonChannels{width:262px;}

.buttonChannels .buttonPrefix{
  width:50px;
  min-width:50px;}

.buttonChannels .buttonSuffix{
  width:40px;
  min-width:40px;}

.buttonChannels svg{
  stroke:rgb(230,230,230);
  width:20px;
  height:20px;
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0) rotate(0deg);}

.buttonChannels .buttonSuffix svg{
  transition:stroke 0.2s,transform 0.2s;}

@media (hover: hover){
.buttonChannels:hover .buttonSuffix svg{transform:translate3d(-30%,-50%,0) rotate(0deg);}}

.channelsComponent.opened .channelsToggle svg{
  transform:translate3d(-50%,-50%,0) rotate(180deg);}

.buttonChannels .buttonCore span{
  padding-left:5px;
  font-size:90%;
  color:rgb(175,175,175);}

@media (hover: hover){
.buttonChannels:hover .buttonCore span{color:rgb(230,230,230);}}