.navigate{
  position:fixed;
  display:block;
  height:var(--navigate-height);
  top:0;
  left:0;
  right:0;
  overflow:hidden;
  border-bottom:1px solid rgb(25,25,25);
  background-color:rgb(35,35,35);}