.streamer{
  z-index:-1;
  position:fixed;
  display:block;
  overflow-x:hidden;
  overflow-y:scroll;
  top:var(--navigate-height);
  left:78px;
  right:340px;}

.streamerBody{
  display:block;
  width:100%;
  max-height:calc(100vh - 60px);
  background-color:rgba(255,255,255,.01);}

.streamerFooter{
  display:block;
  width:100%;}

.streamerBody iframe{
  aspect-ratio:16/9;
  width:100%;
  height:auto;}

/*** channels button ***/
.buttonStreamer{
  height:36px;
  line-height:36px;
  background-color:rgb(40,40,40);}

@media (hover: hover){
.buttonStreamer:hover{background-color:rgb(45,45,45);}}
.buttonStreamer:active{background-color:rgb(50,50,50);}

.buttonStreamer .buttonPrefix{
  width:40px;
  min-width:40px;}

.buttonStreamer svg{
  stroke:rgb(230,230,230);
  width:20px;
  height:20px;
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0) rotate(0deg);}

.buttonStreamer .buttonCore span{
  padding-left:0;
  padding-right:12px;
  font-size:90%;
  color:rgb(175,175,175);}

@media (hover: hover){
.buttonStreamer:hover .buttonCore span{color:rgb(230,230,230);}}